
  a{text-decoration: none;}
  a:hover{text-decoration: none;}
  li{list-style: none;}
  p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
    color: #100101;
}
#com{
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: gray;

}
#dod{
  font-size: 1.5rem;
  line-height: 1.6;
  color:#2fccd0!important;
  font-weight: 500;
  font-family: 'Acme';
  color: rgba(27, 23, 23, 0.896);

}

  .extradiv h2, .servicediv h2 {
    font-size: 1.2rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
  i{
    color: #2fccd0;
  }
  
  h1{
    font-family: 'Carter One';
  }

  .header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url("images/product_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 77%, 50% 100%, 0 75%, 0 0);
    position: relative;
  }
  #kkp{
    margin-top: 10%;
  }
  #SET{
    font-size: 30px;
    font-family: 'Carter One';

  }
  #np {
    font-size: 18px;
    padding-top: 1%;
    color:#6a7b78;
    font-weight: 500;
    font-family: 'Acme';
}
  .header::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right,  #dee3e7 0%, #88b5b0 0%, #16c9f600 100%);
  }
  .navbar::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
    /* background: linear-gradient(to right,  #1e5799 0%, #3ccdbb 0%, #16c9f6 100%); */
  }
  .nav-item a{
    color: #fff!important;
    font-weight: bold;
  }
  .header-section{
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
  }

  .center-div{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  .header-buttons a:hover{
    text-decoration: none;
    color: #50d1c0;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
  }

  
  .header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
  }
  .extradiv p{text-align: justify;}
  .extradiv{
    background-color: #fff;
    border: none;
    padding: 30px!important;
    border-radius: 3px;
    transition: 0.3s;
  }
  .extradiv:hover{
    box-shadow: -10px 0px 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
  }
  

  .serviceoffers {
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url("images/businessman-pointing-his-presentation-futuristic-digital-screen_53876-102617.webp");
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
    padding: 50px 0;
    margin-bottom: 50px;
}

  .headings{
    margin-bottom: 50px;
  }
  .headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  .service-icons{
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
  }

  
  .project-work{
    margin: 100px 0;
  }
  .project-work h1{
    font-size: 2rem;
    text-align: center;
  }

  
  .pricing{
    width: 100%;
    height: auto;
    padding: 50px;
    position:  relative;
  }
  .pricing::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
     background-image:  url("images/network-mesh-wire-digital-technology-background_1017-27428.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
  }
  .money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
  }
  .card{
    transition: 0.4s ease;
    margin-top: 4rem;
  
  }
  .card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.214)!important;
    padding: 25px 0!important;
  }
  .card-body{
    padding: 30px 0!important;
  }
  .card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
  }
  .card-footer{
    background: #fff!important;
    padding: 30px 0!important;
  }
  .card-footer a{
    border: 1px solid #50c1d0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
  .card:hover .card-footer a{
    text-decoration: none;
    color: #fff;
    background-color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .card:hover{
    
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  .card:hover .card-header, .card:hover .money{
    color: #50d1c0;
  }
  .card-second{
    transform: translateY(-20px);
    /* box-shadow: 0 0 20px 0 rgba(0,0,0,0.3); */
  }

  .happyclients{
    background-image: linear-gradient(rgba(0,168,255,0.1), rgba(0, 170, 255, 0)), url("images/woman-praying-free-bird-enjoying-nature-sunset-background-hope-concept_34200-256.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 80px 0;
  }
  .box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
    height: 28rem;
  }
  
  .box:hover{
    /* background-image: url("https://img.freepik.com/premium-photo/young-man-arms-outstretched-by-sea-sunrise-enjoying-freedom-life-people-travel-wellbeing-concept_169160-68.jpg?w=996");
    background-repeat: no-repeat;
    color: #50c1d0;
    background-size: cover; */
    background-color: rgba(128, 128, 128, 0.342);
 
  }
  .box:hover p{
    color: #fff;
  }
  .carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
  }
  .carousel-indicators li{
    background-color: #16c9f6!important;
  }
  .box a{
    position: relative;
  }
  .box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
  }
  .box a::after{
    content: "\f10d";

    width: 40px;
    height: 40px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: #fff;
    position: absolute;
    top: 120%;
    left: 70%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box h1{
    font-size: 18px;
    font-weight: 400;
    color:#2fccd0;
    margin-bottom: 10px;
  }
  #text-white {
    color:#2fccd0!important;
}

  .box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
  }
  /* contact us  */
  
  .contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
  }
  .contactus::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    background: linear-gradient(to right,  #dee3e79d 0%, #88b5b052 0%, #10abd2c6 100%);
  }
  .form-button button {
    border: 1px solid #50c1d0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #0bd2b8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: #ffffff66;
}
  form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  }
  ::placeholder{
    font-size: 0.85rem;
  }
   ********************* newsletter starts ****************************** */
  
  .newsletter{
    width: 100%;
    height: auto;
    margin: 80px 0;
  }
  .newsletter-input{
    border-radius: 100px 0px 0px 100px!important;
    min-width: 150px;
    min-height: 45px;
  }
  .input-group-text{
    color: #fff!important;
    background: #5bc0de!important;
    border-radius: 0 100px 100px 0!important;
    min-width: 130px;
    min-height: 45px;
  }
  .input-group-text:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  
 
  .footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
  }
  .footersection p{
    color: #fff;
  }
  .footer-navlinks{
    text-align: center;
  }
  .footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
  }
  .footersection h3{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }
  #myBtn{
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
  }
  #myBtn:hover{
    background: #606060;
  }
 
  @media (max-width: 768px) {
    .nav-item{
      text-align: center!important;
    }
    .pricing, .happyclients, .contactus{
      height: auto;
      margin-top: 50px;
    }
    .card-second{
      transform: translateY(0px);
      margin: 30px 0;
    }
    .contactus p{
      padding: 0 50px;
    }
    .footer-navlinks{
      text-align: left;
    }
    .footer-div{
      margin: 30px 0;
    }
  }
  